.jason-slider__container {
    width: 1000px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.jason-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.jason-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.jason-slider__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-50%) scale(1);
    transition: 0.5s;
    top: 50%;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

.jason-slider__btn:hover {
    transform: translateY(-50%) scale(1.5);
}

.jason-slider__btn img {
    width: 35%;
}

.jason-slider__btn.prev {
    left: 5%;
}

.jason-slider__btn.next {
    right: 5%;
}